<div class="outer bg-gray-800 text-white p-4">
  <nav class="nav-bar  flex items-center justify-between">
    <div class="logo-wrapper ">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Wattpad_logo.png/1200px-Wattpad_logo.png"
           alt="" class="h-12">
    </div>
    <div class="space-x-3">
      <a href="" class="hover:text-orange-600 ">Home</a>
      <a href="" class="hover:text-orange-600 ">Product</a>
      <a href="" class="hover:text-orange-600 ">Orders</a>
      <a href="" class="hover:text-orange-600 ">Card</a>
      <a href="" class="hover:text-orange-600 ">Track My Order</a>
    </div>
  </nav>
</div>
